@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default select arrow (all browsers) */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none !important;
}


/* Edge fix */

select::-ms-expand {
    display: none;
}